@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
 @apply  
 md:w-16 md:h-16 w-10 h-10 mx-4 mt-2 md:mt-0 text-white rounded-md flex items-center justify-center hover:m-4  group-hover:scale-125 flex-none transform duration-300
 ease-out  group-hover:drop-shadow-[0_0_12px_rgba(255,255,255,0.35)]
}
*{
  @apply font-sans
  text-[#DFD0B8] 
}
