@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
 @apply  md:w-16 md:h-16 w-10 h-10 mx-4 mt-2 md:mt-0 text-white rounded-md flex items-center justify-center hover:md:size-20  flex-none transition-transform duration-150;
}
*{
  @apply font-sans
  text-[#DFD0B8] 
}
