@tailwind base;
@tailwind components;
@tailwind utilities;

.warp-to{
  @apply border-4 border-[#e71d36] rounded-sm  p-2 px-4 text-white bg-[#e71d36] transition duration-300 hover:bg-[#011627] hover:cursor-pointer ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.logo{
 @apply w-10 h-10 mx-4  text-white rounded-md flex items-center justify-center;
}
